mixin tabs(items)
  .tabs-wrapper
    .tabs-menu
      button.tabs-menu__button.tabs-menu__button_prev
        +icon('tabs-menu__icon_prev', 'tabp')
      .tabs-menu__link_wrapper
        each tab in items
          a.tabs-menu__link(
            class= tab.isActive ? 'is-active' : false
            href= '#' + tab.id
          ) !{ tab.label }
      button.tabs-menu__button.tabs-menu__button_next
        +icon('tabs-menu__icon_next', 'tabn')
    .tabs-tab__wrapper
      each tab, index in items
        .tabs-tab(
            class= tab.isActive ? 'is-active' : false,
            id=tab.id
          )
          h2.tabs-tab__header !{ tab.header }
          if block
            block
